body
{
    height: 100vh;
    background: rgb(245, 243, 243) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card
{
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

/* -----------image--------------- */
.img-left
{
    width: 45%;
    background: url(./assets/images/login/form_image3.png) center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body
{
    padding: 2rem;
}

/* ---------Title Heading h4--------- */
.title
{
    margin-bottom: 3rem;
    font-weight: bolder;
    font-size: 35px;
}

/* ---------------form--------------- */
.form-input
{
    position: relative;
}
.form-input input
{
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 50px;
    outline: none;
    background: transparent;
}

/*----------- icons in the form--------- */
.form-input span
{
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: black;
}

/* ---------focusing the border of form-input--------- */
.form-input input:focus, .form-input input:valid
{
    border: 2px solid black;
}

/* --------submit button---------- */
.form-box button[type="submit"]
{
    margin-top: 10px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    background: #3c8ce2e8;
    color: white;
    font-size: 90%;
    transition: 0.5s;
    padding: 12px;
    font-weight: bold;
}

/* ---------facebook icon------------ */
.form-box .btn-facebook
{
    background: #4866a8;
    width: 110px;
}

/* ---------twitter icon------------ */
.form-box .btn-twitter
{
    background: #33ccff;
    width: 105px;
}

/* ---------google icon------------ */
.form-box .btn-google
{
    background: #da3f34;
    width: 105px;
}


