/* for about */

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* display: grid; */
  background-color: #f4f4f4;
  align-content: center;
  /* min-height: 100vh; */
}
/* section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 90vh;
  width: 85vw;
  margin: 0 auto;
} */
.image {
  background: url("../images/2.jpg") center/cover no-repeat;
  /* width: 200px;
  height: 200px; */
}
.content {
  font-family: "Playfair Display", serif;
  background: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.content h2 {
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 6px;
  opacity: 0.9;
}
.content span {
  height: 0.5px;
  width: 80px;
  background: #777;
  margin: 30px 0;
}
.content p {
  padding-bottom: 15px;
  font-weight: 300;
  /* opacity: 0.7; */
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
}
.links {
  margin: 15px 0;
}
.links li {
  border: 0.5px solid #777;
  list-style: none;
  border-radius: 5px;
  padding: 10px 15px;
  width: 160px;
  text-align: center;
}
.links li a {
  text-transform: uppercase;
  color: #777;
  text-decoration: none;
}
.links li:hover {
  border-color: #06d6a0;
}
.links li:hover a {
  color: #06d6a0;
}
.vertical-line {
  height: 30px;
  width: 0.5px;
  background: #777;
  margin: 0 auto;
}
.icons {
  display: flex;
  padding: 15px 0;
}
.icons li {
  display: block;
  padding: 5px;
  margin: 5px;
}
.icons li i {
  font-size: 26px;
  opacity: 0.8;
}
.icons li i:hover {
  color: #06d6a0;
}

/*****************/

@media (max-width: 992px) {
  section {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .image {
    height: 100vh;
  }
  /* .content{
        height: 100vh;
    } */
  .content h2 {
    font-size: 20px;
    margin-top: 50px;
  }
  .content span {
    margin: 20px 0;
  }
  .content p {
    font-size: 14px;
  }
  .links li a {
    font-size: 14px;
  }
  .links {
    margin: 5px 0;
  }
  .links li {
    padding: 6px 10px;
  }
  .icons li i {
    font-size: 15px;
  }
}

/* for grid  */
.iconBox {
  box-shadow: 0 0 10px lightskyblue;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  transition: 0.5s;
  background-color: white;
}

.iconBox:hover {
  box-shadow: 0 0 30px #ddd, 0 0 30px #ddd;
}

.iconBox .icon {
  display: flex;
  margin-bottom: 20px;
}
/* .iconBox .icon i.fab {
  font-size: 50px;
} */
.iconBox .icon h3 {
  font-size: 19px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  padding-left: 0px;
  line-height: 60px;
  color: #666;
  word-wrap: break-word;
}
button {
  padding: 5px 10px;
  border-radius: 3px;
  border-width: 0;
  background: #efefef;
  color: #000;
  font-weight: bold;
  letter-spacing: 4px;
  margin-top: 10px;
  transition: 0.5s;
}

button:hover {
  color: skyblue;
}

/* for spacing  */

#carousel-top > #carouselExampleFade {
  margin-bottom: 50px;
}
#caousel-top > .carousel-caption d-md-block h1 {
  font-weight: bolder;
}
#carousel-top > .carousel .carousel-item {
  height: 800px;
  text-transform: uppercase;
}

#carousel-top > .carousel-item img {
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  /* object-fit: cover; */
  top: 0;
  left: 0;
  min-height: 1000px;
}

.formargin {
  margin-top: 20px;
  padding:20px;
}
.faqmargin {
  margin-top: 40px;
  /* margin: 50px; */
  padding:40px;
}


/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/

#faq {
  padding: 60px 0px;
  margin: 0; 
  background: rgba(190,155,123,1);

}
.faq .accordion-list {
  padding: 0 50px;
}
.faq h2
{
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: rgba(255,248,222,1);
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-weight: bold;
}

.faq .section-title p{
  color: #fff;
}

.faq .accordion-list ul {
  padding: 0;
  list-style: none;
}

.faq .accordion-list li + li {
  margin-top: 15px;
}

.faq .accordion-list li {
  padding: 20px;
  background: rgba(0,0,0,1);
  border-radius: 4px;
  position: relative;
}

.faq .accordion-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  text-decoration: none;
}

.faq .accordion-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #FA8072;
}

.faq .accordion-list .icon-show, .faq .accordion-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}

.faq .accordion-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
  color: rgba(255,248,222,1);
}

.faq .accordion-list .icon-show {
  display: none;
}

.faq .accordion-list a.collapsed {
  color: rgba(129,216,208,1);
}

.faq .accordion-list a.collapsed:hover {
  color: #FA8072;
}

.faq .accordion-list a.collapsed .icon-show {
  display: inline-block;
}

.faq .accordion-list a.collapsed .icon-close {
  display: none;
}

@media (max-width: 1200px) {
  .faq .accordion-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# End of Frequently Asked Questions
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
/* section {
  padding: 60px 0;
  overflow: hidden;
} */

/* .section-bg {
  background: rgba(190,155,123,1);
} */

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

/* .section-title h2 {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 20px;
  padding-bottom: 0;
  color: #fecc50;
  font-family: "Poppins", sans-serif;
} */

.section-title p {
  margin-bottom: 0;
  font-weight: bold;
}